<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for swagger in urls %}
            <tr>
                <td><pre>{{ swagger.name }}</pre></td>
                <td><pre>{{ swagger.url }}</pre></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>